.main_layout_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_content {
  flex: 1;
  padding-top: 80px; /* Prevent content hiding behind navbar */
}
